body {
	width:100%;
	color:white;
}

main {
	height:700px;
}

footer {
	width: 18%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height:100%;
    color:#000;
}

header {
	padding-top:20px;
	padding-bottom:20px;
	
}

.small-images {

}

.flexcontainer {
   display: -webkit-flex;
   display: flex;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
   /* You can set flex-wrap and flex-direction individually */
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   /* Or do it all in one line with flex flow */
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   /* tweak the where items line up on the row */
   /* valid values are: flex-start, flex-end, space-between, space-around, stretch */
   -webkit-align-content: flex-end;
   align-content: flex-end;
   margin-top:10px;
}

.fightPanel {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	margin-left: 15px;
}

.p1-details {
	text-align: left;
	padding-left:10px;
	background-color:rgba(0, 0, 0, 0.6);
	margin-top:20px;
	margin-left: 0;
}

.p2-details {
	text-align: right;
	padding-right:10px;
	background-color:rgba(0, 0, 0, 0.6);
}

.fightDetails{
	height:200px;
	width: 100%;
	font-size:40px;
	
}

button {
	background-color:orange;
	border-radius: 10px;
	/* margin-left: auto; */
	/* margin-right:auto; */
	/* margin-top: 30px; */
	left: 36%;
	top: 41%;
	position: relative;
	width: 90px;
	height: 30px;
	font-size:14px;
}

.win-lose1, .win-lose2 {
	color:red;
}

.p1-image-lg {
	margin-top:10px;
}

.instructions {
	height:55px;
	background-color: rgba(0, 0, 0, 0.6);
	padding-left: 17px;
	width: 469px;
}