body {
	width:100%;
	color:white;
}

main {
	height: auto;
	min-height: 395px;
}

footer {
	width: auto;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	height:15px;
	color:#000;
	text-align: center;
}

footer p {
	margin-bottom:0px;
}

header {
}

.flexcontainer {
   display: -webkit-flex;
   display: flex;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
   /* You can set flex-wrap and flex-direction individually */
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   /* Or do it all in one line with flex flow */
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   /* tweak the where items line up on the row */
   /* valid values are: flex-start, flex-end, space-between, space-around, stretch */
   -webkit-align-content: flex-end;
   align-content: flex-end;
   width: 100%;
}

.fightPanel {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	width: 33%;
	font-size: 14px;
	padding-bottom: 20px;
}

.p1-details {
	text-align: left;
	padding-left:10px;
	background-color:rgba(0, 0, 0, 0.6);
	margin-top:20px;
	margin-left: 0;
}

.p2-details {
	text-align: right;
	padding-right:10px;
	background-color:rgba(0, 0, 0, 0.6);
}

.p1-details p, .p2-details p {
	margin: 0 0 5px;
}

.fightDetails{
	height: 124px;
	width: 100%;
	font-size:40px;
}

button {
	background-color:orange;
	border-radius: 10px;
	left: 35%;
	top: 25%;
	position: relative;
	width: 120px;
	height: 30px;
	font-size:14px;
}

.win-lose1, .win-lose2 {
	color:red;
}

.p1-image-lg {
    height: 400px;
}

	.p2-image-lg {
    height: 400px;
}

.instructions {
	height:55px;
	background-color: rgba(0, 0, 0, 0.6);
	padding-left: 0;
	width: 469px;
	text-align: center;
}

.player{
	width:auto;
	padding-bottom: 10px;
	padding-top: 10px;
}


@media only screen and (max-width: 1050px) {
   body {
		width:1050px;
	}

	header img {
	    width: 15%;
	}

	.flexcontainer {
	   width: 100%;
	}

	.p1-details {
		padding-left: 2px;
		margin-top: 10px;
		margin-left: 0;
		margin-right: 0;
	}

	.p2-details {
		padding-right: 2px;
		margin-right: 0px;
		margin-left: 0;
	}

	.p1-details p, .p2-details p {
		margin: 0 0 5px;
	}

	.p1-image-lg {
    height: 350px;
	}
	.p2-image-lg {
    height: 350px;
	}

	.fightDetails{
		height: 120px;
		width: 100%;
		font-size: 20px;
	}

	.fightPanel {
		width: 33%;
        font-size: 12px;
        padding-right: 5px;
    	padding-left: 5px;
	}

	button {
		left: 30%;
		top: 30%;
		width: 40%;
		height: 30px;
		font-size:12px;
	}


	.instructions {
		height: auto;
		padding-left: 0;
		width: 140%;
	}

	.player{
		padding: 5px;
	}
	.small-images {
		margin-left:0;
		margin-right:0;
	}

	.players{
		margin-left: -15px;
		margin-right: 0;
	}
}

@media only screen and (max-width: 950px) {
   body {
		width:950px;
	}

	header img {
	    width: 15%;
	}

	.flexcontainer {
	   width: 100%;
	}

	.p1-details {
		padding-left: 2px;
		margin-top: 10px;
		margin-left: 0;
		margin-right: 0;
	}

	.p2-details {
		padding-right: 2px;
		margin-right: 0px;
		margin-left: 0;
	}

	.p1-details p, .p2-details p {
		margin: 0 0 5px;
	}

	.p1-image-lg {
    height: 350px;
	}
	.p2-image-lg {
    height: 350px;
	}

	.fightDetails{
		height: 120px;
		width: 100%;
		font-size: 20px;
	}

	.fightPanel {
		width: 33%;
        font-size: 12px;
        padding-right: 5px;
    	padding-left: 5px;
	}

	button {
		left: 30%;
		top: 30%;
		width: 40%;
		height: 30px;
		font-size:12px;
	}


	.instructions {
		height: auto;
		padding-left: 0;
		width: 140%;
	}

	.player{
		padding: 5px;
	}
	.small-images {
		margin-left:0;
		margin-right:0;
	}

	.players{
		margin-left: -15px;
		margin-right: 0;
	}
}

@media only screen and (max-width: 850px) {
   body {
		width:850px;
	}

	header img {
	    width: 15%;
	}

	.flexcontainer {
	   width: 100%;
	}

	.p1-details {
		padding-left: 2px;
		margin-top: 10px;
		margin-left: 0;
		margin-right: 0;
	}

	.p2-details {
		padding-right: 2px;
		margin-right: 0px;
		margin-left: 0;
	}

	.p1-details p, .p2-details p {
		margin: 0 0 5px;
	}

	.p1-image-lg {
    height: 300px;
	}
	.p2-image-lg {
    height: 300px;
	}

	.fightDetails{
		height: 70px;
		width: 100%;
		font-size: 20px;
	}

	.fightPanel {
		width: 33%;
        font-size: 12px;
        padding-right: 5px;
    	padding-left: 5px;
	}

	button {
		left: 25%;
		top: 20%;
		width: 50%;
		height: 30px;
		font-size:12px;
	}


	.instructions {
		height: auto;
		padding-left: 0;
		width: 140%;
	}

	.player{
		padding: 5px;
	}
	.small-images {
		margin-left:0;
		margin-right:0;
	}

	.players{
		margin-left: 0;
		margin-right: 0;
	}
}

@media only screen and (max-width: 750px) {
   body {
		width:750px;
	}

	header img {
	    width: 15%;
	}

	.flexcontainer {
	   width: 100%;
	}

	.p1-details {
		padding-left: 2px;
		margin-top: 10px;
		margin-left: 0;
		margin-right: 0;
	}

	.p2-details {
		padding-right: 2px;
		margin-right: 0px;
		margin-left: 0;
	}

	.p1-details p, .p2-details p {
		margin: 0 0 5px;
	}

	.p1-image-lg {
    height: 260px;
	}
	.p2-image-lg {
    height: 260px;
	}

	.fightDetails{
		height: 70px;
		width: 100%;
		font-size: 20px;
	}

	.fightPanel {
		width: 33%;
        font-size: 12px;
        padding-right: 5px;
    	padding-left: 5px;
	}

	button {
		left: 25%;
		top: 20%;
		width: 50%;
		height: 30px;
		font-size:12px;
	}


	.instructions {
		height: auto;
		padding-left: 0;
		width: 140%;
	}

	.player{
		padding: 5px;
	}
	.small-images {
		margin-left:0;
		margin-right:0;
	}

	.players{
		margin-left: 0;
		margin-right: 0;
	}
}

@media only screen and (max-width: 650px) {
   body {
		width:650px;
	}

	header img {
	    width: 15%;
	}

	.flexcontainer {
	   width: 100%;
	}

	.p1-details {
		padding-left: 2px;
		margin-top: 10px;
		margin-left: 0;
		margin-right: 0;
	}

	.p2-details {
		padding-right: 2px;
		margin-right: 0px;
		margin-left: 0;
	}

	.p1-details p, .p2-details p {
		margin: 0 0 5px;
	}

	.p1-image-lg {
    height: 230px;
	}
	.p2-image-lg {
    height: 230px;
	}

	.fightDetails{
		height: 70px;
		width: 100%;
		font-size: 20px;
	}

	.fightPanel {
		width: 33%;
        font-size: 10px;
        padding-right: 5px;
    	padding-left: 5px;
	}

	button {
		left: 20%;
		top: 10%;
		width: 60%;
		height: 30px;
		font-size:10px;
	}


	.instructions {
		height: auto;
		padding-left: 0;
		width: 140%;
	}

	.player{
		padding: 5px;
	}
	.small-images {
		margin-left:0;
		margin-right:0;
	}

	.players{
		margin-left: 0;
		margin-right: 0;
	}
}

@media only screen and (max-width: 500px) {
   body {
		width:500px;
	}

	header img {
	    width: 15%;
	}

	.flexcontainer {
	   width: 100%;
	}

	.p1-details {
		padding-left: 2px;
		margin-top: 10px;
		margin-left: 0;
		margin-right: 0;
	}

	.p2-details {
		padding-right: 2px;
		margin-right: 0px;
		margin-left: 0;
	}

	.p1-details p, .p2-details p {
		margin: 0 0 5px;
	}

	.p1-image-lg {
    height: 170px;
	}
	.p2-image-lg {
    height: 170px;
	}

	.fightDetails{
		height: auto;
		width: 100%;
		font-size: 20px;
	}

	.fightPanel {
		width: 33%;
        font-size: 10px;
        padding-right: 5px;
    	padding-left: 5px;
	}

	button {
		left: 10%;
		top: 10%;
		width: 90%;
		height: 30px;
		font-size:10px;
	}


	.instructions {
		height: auto;
		padding-left: 0;
		width: 140%;
	}

	.player{
		padding: 5px;
	}
	.small-images {
		margin-left:0;
		margin-right:0;
	}

	.players{
		margin-left: 0;
		margin-right: 0;
	}
}